body{
  text-align: center;
  background: rgb(2,0,36);
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.gra {
  background-color: black;
  color: white;
  border-width: thin;
  border-color: black;
  border-radius: 250px;
  height: 380px;
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding-top: 120px;
}

#nowa{
  background: black;
  color: white;
  border-radius: 10px
}

#buttonzgadnij{
  background: white;
  text-emphasis: black;
  color: black;
  border-radius: 10px;
}

#duze{
  color: black;
}

#male{
  color: black;
}
